nav{
    background-color: rgb(59, 59, 134);
}
.navbar{

    color: white;
    font-size: 20px;
}
.nav{
   

    display: flex;
    justify-content: space-evenly;
}
.carousel-caption{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    color: rgba(2, 6, 27, 0.836);
}
.carousel-control-prev .carousel-control-next{
    color: black;
}
.member{
  justify-content: center;  
  /* font-family: ; */

}

.member-btn{
    justify-content: left;
    text-align: left;
    align-items: left;
}
.member-p{
    text-align: left;
}
.member-header{
    justify-content: center;
    text-align: center;
}

#member-header-2{
    justify-content: left;
    text-align: left;
}
.glance-txt{
    text-size-adjust: 20px;
    /* font-family: ; */

}
.free_trial_btn{
    float: left;
    border-radius: 22.5px;
}
iframe{
    border-radius: 21.5px;
}
a{
    text-decoration: none;
}
 
/* Footer */
.footer_links{
    text-align: left;
}